  body{ padding:0px;
       margin:0px;  }
  a { text-decoration:none;}
	                                                        /* часть первая  ( начало)    */
header{
		 width:100%;
		 height:1346px;   
		 background:Linear-gradient(to top, #17c2a4 750px, #87509c 596px); } 
 .header_logotip img{ margin:60px 0px 0px 4.8%;}
  .header_minu_videlen,.header_minu_nazvanie{
                                             color:#ffffff; 
                                             padding:8px 15px 8px 15px; 
											 text-decoration:none; }
   .header_minu{            
              width:36.7%;   
              display:inline-flex; 
              justify-content:space-around; 
		      position:absolute;
              top:68px; 
              left: 50%;}
    .header_minu_videlen{ background:#643a79; border-radius:5px;}
     .header_opisanie{font-size:2em; margin-top:90px; color:#f7f3ea;} 
      button.knopka{ 
                   width:24%;
			       font-size:18px;
			       color:#ffffff;
			       height:70px;  
			       background:#eb7d4b;
			       border-color:#eb7d4b; 
			       border-radius:5px;}
	  .cnopca_po_center{ 
	                     width:100%;
						 display:flex;
						 justify-content:center;  }
       h2.zagolovoc_header{ margin-top:330px; color:#ffffff;}
        .polosca{
  		         width:9%;
				 height:4px;
				 background:#14a58c; }
		 .polosca_po_centru{
							width:100%;
							display:flex;
							justify-content:space-around; }
		  .cratcoe_opisanie{ color:#d9f5f0; }
		   .img_vriad{
					   width:100%;
					   margin-top:60px;
					   display:flex; 
					   justify-content:space-around;}
		    .img_vriad_zagolovok,.img_vriad_zagolovok_2,.img_vriad_zagolovok_3,.img_vriad_zagolovok_4 {
																									   margin-top:190px; 
																									   font-size:1.5em; 
																									   display:block; 
																									   color:#ffffff;}
			 .img_vriad_opisanie, .img_vriad_opisanie_2, .img_vriad_opisanie_3,.img_vriad_opisanie_4{
																									font-size:1em; 
																									display:block; 
																									color:#e0f7f3; 
																									line-height:1.2}
			   .img_vriad_1{ position:absolute;left: 7.8%; }
			    .img_vriad_2{ position:absolute;  left: 32.7%;}
			     .img_vriad_3{ position:absolute;  left: 53.5%;}
				  .img_vriad_4{ position:absolute;  left: 82%;}
                                                                 /* часть первая ( конец )*/
                                                                 /* часть вторая ( начало )*/

				   .blok_3{
							 margin-bottom:px; 
							 min-height:913px;
							 background:#e7f1f8;   } 
					 .zagolovoc{
									font-size:2.06em; 
									margin:0px;  
									padding-top:120px;}
					  hr{                                        /*           */
							 width:88px; 
							 background-color:#c8d9e5;
							 height: 3px; 
							 border:none;
							 display:block;  }
					   .opisanie{font-size:1.1em; }
						.aplicacii{
								  margin-top:60px;
								  display:flex;
								  justify-content:space-around; }
						 .links_1{
								  color:#30bae7;
								  margin-left:30px;
								  text-decoration: none; }
						  .links, .links_2, .links_3, .links_4{
															   color:#30bae7; 
															   margin-left:50px;  
															   text-decoration: none;}
						   .zagolovki_blokov{  
											   margin:30px 0px 12px 0px;  
											   color:#3c4761;}
											   
							.zagolovok_bloka_2{ margin:30px 0px 12px 30px;color:#3c4761;} 
							 .zagolovok_bloka_3{ margin:30px 0px 12px 10px;color:#3c4761;} 
							  .opisanie_1_bloka,.opisanie_2_bloka,.opisanie_3_bloka,.opisanie_4_bloka{ color:#535e75; font-size:1em;}
							   .links_soc_seti{ margin-left:30px;}
								.links_soc_seti_1_4{ margin-left:50px;}
																	/* часть вторая ( конец )*/
																	 /* часть третья ( начало )*/
 
                                  .blok_4{min-height:655px; }
                                   .blok_4_heading{ 
								                   color:#3c4761;
												   font-size:2.5em; 
												   padding:111px 0px 0px 0px;
												   margin:0px; }
                                    .blok_4_opisanie,.blok_5_opisanie{ color:#3c4761; font-size:1.012em;}
                                     .blok_4_aplicacii{ 
									                    margin-top:80px;
                                                        display:flex;
                                                        justify-content:space-around;} 
																  /* часть третья ( конец )*/
																 /* часть четвертая ( начало )*/
                                     .blok_5{ height:auto;  background-color:#ffdd99;}
                                      .blok_5_heading{ 
									                   color:#393939;
													   font-size:2.5em;
													   padding:121px 0px 0px 0px;
													   margin:0px; }
                                       .blok_5_polosa{ background-color:#e5c37f;}
                                        .blok_5_menu{ 		          		
                                                     display:flex;
                                                     justify-content:center;} 
			                             .blok_5_menu_1,.blok_5_menu_3{
			                                                           font-size:1.012em; 
										                               color:#393939;
										                               padding:10px 18px 10px 18px;
										                               background:#ebc985;
										                               margin:25px 0px 0px 9px;
										                               border-radius:5px; }
			                              .blok_5_menu_1{ background:#ffffff; }
			                               .blok_5_img{ 
					                                    display: grid;  
						                                grid-template-columns: 600px 600px; }
					                        .blok_5_img_1,.blok_5_img_2{ flex:1; order:1; }
	                                         .blok_5_img_3,.blok_5_img_4{flex:2; order:2; }
						                      .blok_5_img_1,.blok_5_img_3{ margin-left:80px;}
                                                .blok_5_img_1,.blok_5_img_2,.blok_5_img_4,.blok_5_img_3{
												                                                         margin-top:25px;
																										 padding-top:35px;}
					                             .subtitle{ margin-top:30px;}
                                                  .cnopca_po_center_2{
												                       width:100%;
																	   display:flex;
																	   justify-content:center;
																	   margin-top:80px; }
                                             button.knopka_2{  
                                                            width:20%;
			                                                font-size:1em;
															 color:#ffffff;
															 height:60px;  
															 background:#17c2a4;
															 border-color:#17c2a4; 
															 border-radius:5px;	
															 margin-bottom:110px; }
																					   /* часть четвертая ( конец )*/
																					  /* часть пятая ( начало )*/
  .blok_6{ 
		  height:auto; 
		  background-color:#d74680;
		  padding-bottom:120px;}
   .blok_6_heading{
				   color:#ffffff;
				   font-size:2.5em;
				   padding:110px 0px 0px 0px;
				   margin:0px; }
	.blok_6_polosa{ 
					background-color:#b73c6d; 
					padding:1px 0px 0px 0px;}								   
	 .blok_6_opisanie{
					   color:#ffffff;
					   font-size:1.012em;}		 
	  .blok_6_section_1 img,.blok_6_section_2 img,.blok_6_section_3 img,.blok_6_section_4 img{
																							   margin:0px 0px 0px 60px;
																							   float: left;}	  
       .blok_6_section_1 h3,.blok_6_section_2 h3,.blok_6_section_3 h3,.blok_6_section_4 h3{
																							color:#ffffff;
																							margin:25px 0px 0px 200px;
																							font-size:1.5em; }
		.blok_6_section_1 a,.blok_6_section_2 a,.blok_6_section_3 a,.blok_6_section_4 a{
																						 color:#ffdd99;
																						 margin:0px 0px 0px 200px; 
																						 font-size:1.012em; }                
	      .description_blok_6_1,.description_blok_6_2{ 
													   margin:11px 0px 0px 200px;
													   line-height:1.5;
													   color:#f7dae6;
													   font-size:1.3em; }				  				 			         	 			                        
		   .description_blok_6_3,.description_blok_6_4{
													   margin:140px 0px 0px 200px;
													   line-height:1.5;
													   color:#f7dae6;
													   font-size:1.3em; }
		    .blok_6_section_3 img, .blok_6_section_4 img{ margin:140px 0px 0px 60px;}     				  
		     .blok_6_sections{
								margin:60px 0px 0px 0px;
								display: grid;  
								grid-template-columns: 600px 600px; }
			  .blok_6_section_1,.blok_6_section_2{ flex:1; order:1; }
			   .blok_6_section_3,.blok_6_section_4{flex:2; order:2; }		
																				 /* часть пятая ( конец )*/
																				/* часть шестая ( начало )*/
			    .blok_7{  
					  background-color:#3c5499;   
					  }
			     .blok_7_heading{
								   color:#ffffff; 
								   font-size:2.5em;
								   padding:110px 0px 0px 0px;
								   margin:0px; }
				  .blok_7_polosa{ 
									background-color:#273a71; 
									padding:1px 0px 0px 0px;}								   
				   .blok_7_opisanie{
									   color:#ffffff;
									   font-size:1.012em;}
				    .blok_7_input_1 input,.blok_7_input_2 input {
																 height:48px;
																 background:#273a71;
																 border-color:#273a71;
																 border-style: solid; 
																 border-radius:5px; }       			  
				    .blok_7_input_3  input{ 
					                        color:red;
											height:200px;
											width:51em; 
											background:#273a71; 
											border-color:#273a71; 
											border-style: solid;
											border-radius:5px;}
				    .blok_7_input_3 input  :-moz-placeholder{
    width: 56%;}
	
	.blok_7_2_input :-moz-placeholder{
    margin: 15px 0px 0px 10px;
}
				     .blok_7_input_1 input::-webkit-input-placeholder{  
																		 padding:20px 0px 0px 20px;      															  
																		 color:#ffffff;
																		 font-size:1.12em;}/* webkit */	
					  .blok_7_input_2 input::-webkit-input-placeholder{   
																		 padding:20px 0px 0px 20px;      															  
																		 color:#ffffff;
																		 font-size:1.12em;}/* webkit */													 
				       .blok_7_input_3 input::-webkit-input-placeholder{  
																		 position:relative; 
																		 top:70px; 
																		 left:20px; 
																		 color:#ffffff;
																		 font-size:1.12em;}/* webkit */		  
           ::-moz-placeholder          {color:#ffffff; opacity:1;}/* Firefox 19+ */
           :-moz-placeholder           {color:#ffffff; opacity:1;}/* Firefox 18- */
           :-ms-input-placeholder      {color:#ffffff; opacity:1;}/* 360px 320px; IE */ 
		    
						.blok_7_1_input{ 
										 display: grid;  
										 grid-template-columns:22.5em 20em; 
										 justify-content:center;}
						 .blok_7_2_input{
										   position: relative; 
										   margin:15px 0px 0px 22px;}	
						  .blok_7_input_1,.blok_7_input_2{ padding:25px 0px 0px 0px; }
						   .blok_7_input_1 span,.blok_7_input_2 span,.blok_7_input_3 span{  color:red;} 
							.blok_7_input_3 div{   color:#ffffff;
												   position:relative; 
												   top:30px; 
												   right:280px;}	
							 .blok_7_input_1 div,.blok_7_input_2 div{  
																	  color:#ffffff;
																	  position:relative; 
																	  top:30px; 
																	  left:20px;  }	
			  @-moz-document url-prefix() { 			                          	
 .blok_7_1_input{
				 display: grid;  
				 grid-template-columns:23em 20em; 
				 justify-content:center;}
  .blok_7_2_input input{  margin:1px 0px 0px 20.2em;}			  
   .blok_7_input_1 input,.blok_7_input_2 input{ padding:0px 0px 0px 0px; width:320px;}
	.blok_7_input_1 input,.blok_7_input_2 input {
												   padding:20px 0px 0px 20px;      													  
												   color:#ffffff;
												   font-size:1.12em;
												   height:30px;
												   background:#273a71;
												   border-color:#273a71;
												   border-style: solid; 
												   border-radius:5px; } 
												   

	 .blok_7_input_3  input{    
								 color:red;   
								  
								  
								 background:#273a71; 
								 border-color:#273a71;
								 border-style: solid; 
								 border-radius:5px;}	
			 
	   .blok_7_input_1 div,.blok_7_input_2 div{ 
											   color:#ffffff;
											   position:relative; 
											   top:30px; 
											   left:20px;  
														  }		
		.blok_7_input_1 span,.blok_7_input_2 span,.blok_7_input_3 span{  color:red;} 
		 .blok_7_input_3 div{   
							 color:#ffffff;
							position:relative; 
							top:30px; 
							right:280px;}	                                        											
		  .blok_7_input_3 input{
								   margin:0px 0px 0px 15px;														 
								   color:#ffffff;
								   font-size:1.12em;}	   
		img.ugoloc{
					position: relative;
					top:92px; right:20px;}	                                 }      

			.cnopca_po_center_3{
								 width:100%;
								 display:flex; 
								 justify-content:center;
								 margin-top:60px; }
	   button.knopka_3{ 
						   width:23.7%;
						   font-size:1.012em;
						   color:#ffffff;
						   height:70px;  
						   background:#30bae7;
						   border-color:#30bae7; 
						   border-radius:5px;	
						   margin-bottom:110px; 
												  }
			   .ugoloc{ 
					   position: relative;
					   top:92px; 
					   right:20px;}
																			 /* часть шестая ( конец )*/
																			/* часть седьмая ( начало )*/
			   footer{
			          background:#344b8e;
                      min-height:111px;}
				.footer_links{   padding:48px 0px 0px 0px;
					             width:auto;
					             display:flex;
					             justify-content:center; 
							     font-size:1.5em;}
				 .footer_links_v_row{
                      				 color:#ffffff; 
									 padding:0px 15px 0px 15px;}
			      .footer_links_v_row_blue{ 
				                            color:#319ccf; 
											padding:0px 15px 0px 15px;}
			                                                            /* часть седьмая ( конец )*/
			
                                                                                                                     /* @@@@@@@    часть первая ( начало )    @@@@@@@@*/
 
  @media screen and (max-width:1200px){	         /* блок 5 ( начало ) */				 
  .blok_5_img{  height: auto;
			  display: grid;  
			  grid-template-columns: 600px ; justify-content: center;}
	.blok_5_img_1{ flex:1; order:1; }
	 .blok_5_img_2{flex:2; order:2; }
	  .blok_5_img_3{flex:3; order:3; }
	   .blok_5_img_4{flex:4; order:4; }
		.blok_5_img_1,.blok_5_img_3{ margin-left:40px;}   
		 .cnopca_po_center_2{ 
							  width:100%;
							  display:flex; 
							  justify-content:center;
							  margin-top:80px; }
											  /* блок 5 ( конец ) */
											  /* блок 6 ( начало ) */
		  .blok_6_sections{
							margin:60px 0px 0px 0px;
							display: grid;  
							justify-content: center;
							grid-template-columns: 600px; }
		   .blok_6_section_1{ flex:1; order:1; }
		    .blok_6_section_2{flex:2; order:2; }
		     .blok_6_section_3{ flex:3; order:3; }
		      .blok_6_section_4{flex:4; order:4; }
		       .blok_6_section_2{ margin: 145px 70px 0px 0px;}
								              /* блок 6 ( конец ) */
											  
											 	  
									.img_koloonka_1,.img_koloonka_2,.img_koloonka_3,.img_koloonka_4{ }		  
											  
											  
											  
											  
											  
											  
												  }
             /* @media screen and (max-width:1200px){	 }*/ 
  @media screen and (max-width:900px){ 
                header{
					   height:1200px;   
					   background:Linear-gradient(to top, #17c2a4 900px, #87509c 300px); }
			  h2.zagolovoc_header{ margin-top:70px;}
				 .header_minu{ font-size:10px;}
				  .header_logotip img{
										width:90px; 
										height:25px; } 
				   .header_minu_videlen{  
                 				        padding:6px 13px 6px 13px; 
										background:#643a79;
										border-radius:4px;} 
				    .header_minu_nazvanie{  padding:6px 13px 6px 13px; }
				     .header_opisanie{
										 font-size:1.1em; 
										 margin-top:60px;}
			    button.knopka{
							  width:18%;
							  font-size:10px;
							  color:#ffffff;
							  height:40px;  
							  border-radius:4px;}
				       .zagolovoc_header{ 
										   font-size:14px; 
										   margin-top:265px; 
										   color:#ffffff;}
				        .img_vriad_opisanie,.img_vriad_opisanie_2{
																	font-size:1em;
																	margin-top:px;}
				         .img_vriad_zagolovok,.img_vriad_zagolovok_2, .img_vriad_zagolovok_3,.img_vriad_zagolovok_4{
						                                                                                            margin-top: 10%;
																													font-size:1em; 
																													text-align: center;}
				         .img_koloonka_3, .img_koloonka_4 {margin-top: 30%;}
				           .img_vriad {
										display: grid;
										grid-template-columns: 300px 300px;} 
							.img_vriad_3 {
											position: relative;
											left: 25%;}
							 .img_vriad_4 {
											position: relative;
											left: 35%;}
							.img_vriad_1,.img_vriad_2 {
											position: relative;
											left: 39%;}			
								                      /* часть вторая ( начало )*/
						    .aplicacii{ 
										display: grid;  
										grid-template-columns: 250px 210px;  } 
							  .bloc_1, .bloc_2{ flex:1; order:1;}
							   .bloc_3, .bloc_4{flex:2; order:2; } 
							   
							   
							   
							   
							   
							   
							   
							   
							   
								.blok_3{ height:auto;}	
								
								
								
								
								
								
								
								
								
								
								
								 .opisanie_1_bloka,.opisanie_3_bloka{margin-right:px; }	 														/**/
								  .bloc_3,.bloc_4{ margin-top:50px;}
								   .blok_2_4, .blok_4_4 {margin-left: 40px; margin-top: 50px;}
								    .blok_4_4 {margin-left: 50px;}
												    /* часть вторая ( конец )*/
								                   /* часть третья ( начало )*/
								   .blok_4{ min-height: 1250px;}
								    .blok_4_aplicacii{ 
														 display: grid;  
														 grid-template-columns: 200px;}
									  .blok_1_4,.blok_2_4{ flex:1; order:1;}
									   .blok_3_4,.blok_4_4{flex:2; order:2; }
									    .blok_1_4,.blok_3_4{ margin-left:40px;}
									     .blok_3_4,.blok_4_4{ margin-top:60px;}
									  	 
								                  /* часть третья ( конец )*/
									  }
			                                










											
											
											
											
											
											
											
											
											
											
											
											
											
											
											
											
											
											
											
											
											
											
											
											
											
											
											
											
											
											
											
											
											















											
	@media only screen and (max-width:768px){  
	                                          /*    блок 7 начало*/	

                                          .blok_7_1_input {
															display: grid;
															grid-template-columns: 44% 44%;
															justify-content: center;}
                                           .blok_7_input_1 input, .blok_7_input_2 input {width: 90%;}
											.blok_7_input_3 input { width: 84%; }
											 .blok_7_2_input {margin: 0px 0px 0px 0px;}
											  .blok_7_input_3 div { position: relative; right: 32%;}
								         button.knopka_3 {
														   width: 23%;
														   font-size: 0.8em;
														   height: 40px;
														   margin-bottom: 10%;}
                                                                                             /*    блок 7 конец*/  
                                            }	  
@media screen and (max-width:600px){  
	
	
	                                                                                       /*    блок 1,2. начало*/
header {
		 height: 1100px;
	 	 background: Linear-gradient(to top, #17c2a4 799px, #87509c 650px);} 
                                                                                         /*    блок 1,2. конец*/ 
										                                                /*    блок 3 начало*/
 .zagolovoc { 		
			 font-size: 1.6em;
			 padding-top: 10%;}		
  .zagolovki_blokov,.zagolovok_bloka_2,.zagolovok_bloka_3,.zagolovok_bloka_4 {
																				margin: 30px 0px 12px 20px;
																				font-size: 1.3em;}					
   .zagolovok_bloka_2{  margin: 30px 0px 12px 35px;}						 
		                                                                                /*    блок 3 конец*/ 
																						/*    блок 4 начало*/	
 
    .blok_4_heading,.blok_5_heading,.blok_6_heading,.blok_7_heading {
																		font-size: 1.6em;
																		padding: 10% 0px 0px 0px;}
     hr { width: 13%;}
                                                                                       /*    блок 4 конец*/
																					  /*    блок 5 начало*/
	 .blok_5_img{
				 display: grid;  
				 grid-template-columns: 300px ;
				 justify-content: center;}
	  .blok_5_img_1 img,.blok_5_img_2 img,.blok_5_img_3 img,.blok_5_img_4 img{  width:100%;}
                                                                                      /*    блок 5 конец*/
                                                                                     /*    блок 6 начало*/	

	   .blok_6_sections { margin: 0px;}	
	    .blok_6_section_2{margin: 10% 70px 0px 0px;}
	     .description_blok_6_3, .description_blok_6_4{margin: 10% 70px 0px 0px;}
	      .blok_6_section_3 img, .blok_6_section_4 img {margin: 8% 0px 0px 61px;}
	 button.knopka_2{
					   width:18%;
					   height: 40%;}
	        .cnopca_po_center_2{							                   
								width:100%;
								display:flex; 
								justify-content:center; 
								margin-top:30px;
								font-size:0.7em; }
			 .blok_6_heading{ font-size:1.5em;}
		      .blok_6_opisanie{ font-size:0.8em;} 
		        .blok_6_section_1 h3,.blok_6_section_2 h3,.blok_6_section_3 h3,.blok_6_section_4 h3{font-size:1em;}
		         .description_blok_6_3, .description_blok_6_4 {margin: 10% 0px 0px 200px;}
                  .blok_6_section_3 a, .blok_6_section_4 a {
															  font-size: 1em;
															  margin: 0px 0px 0px 33%;}
                                                                                      /*    блок 6 конец*/
																					  /*    блок 7 начало*/	
				   .blok_7_1_input {
										display: grid;
										grid-template-columns: 44% 44%;
										justify-content: center;}
					.blok_7_input_1 input, .blok_7_input_2 input {width: 90%;}
					 .blok_7_input_3 input { width: 84%; }
					  .blok_7_2_input {margin: 0px 0px 0px 0px;}
					   .blok_7_input_3 div { position: relative; right: 32%;}
			      button.knopka_3 {
                                       width: 23%;
                                       font-size: 0.8em;
                                       height: 40px;
                                       margin-bottom: 10%;}
                                                                                      /*    блок 7 конец*/  
																					  /*  footer  */	
		                 .footer_links {
											font-size: 1em;
											display: grid;
											grid-template-columns: 20% 20% 20% 20%;}   
                          .footer_links_v_row { padding: 0px 5px 0px 5px;}												
                                                                             		/*  footer */
															 }
															 
@media only screen and (max-width:480px){                                   																   /*  ( min-width:360px)*/
	                                                                                           /*    блок 1.2. начало*/	
					button.knopka {
									width: 15%;
									font-size: 0.450em;
									height: 30px; } 
					     h2.zagolovoc_header { margin-top: 5%;}
							 .img_koloonka_1{
							                 flex:1; 
											 order:1; 
											 display:inline-block;  }
							  .img_koloonka_2{
												 flex:2; 
												 order:2;
												 display:inline-block; } 
							   .img_koloonka_3{  
             							         margin-top: 10%;
												 flex:3; 
												 order:3;}
							     .img_koloonka_4{
								                 margin-top: 10%;
												 flex:4; 
												 order:4;}
								    header {
											  height: 1550px;
											  width: 100%;
											  min-height: 500px;
											  background: Linear-gradient(to top, #17c2a4 1300px, #87509c 510px);}
								  .img_vriad{
											display: grid;
											grid-template-columns: 300px;
											margin-top: 5px;}
                                                                                /*    блок  1.2.конец*/ 
																							  /*    блок 3 начало*/	
 
.zagolovoc {
             font-size: 1.6em;
			 padding-top: 10%;}	
 .zagolovki_blokov,.zagolovok_bloka_2,.zagolovok_bloka_3{
                                                             font-size: 1.1em;
															 margin: 30px 0px 12px 28px; }	
   .zagolovok_bloka_2{ margin: 30px 0px 12px 45px;}				
    .opisanie_1_bloka, .opisanie_2_bloka, .opisanie_3_bloka, .opisanie_4_bloka { font-size: 0.8em;} 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
								 .bloc_2{    margin-right: 23%;}
								  .blok_3 {min-height: 950px;} 
								  .bloc_1,.bloc_3 {    margin-left: 15%;}
								  .zagolovki_blokov{margin: 30px 0px 12px 10px;}
                                   .zagolovok_bloka_2 {margin: 30px 0px 12px 20px;}
								    .zagolovok_bloka_3 {margin: 30px 0px 12px 40px;}
									.links_2	{    margin-left: 25px;}
									  .links_soc_seti_1_4,.links_4 {margin-left: 25px;}
									 .logo_4h_blokov {margin-left: 15%;}
									
									   
									   
										
										  .opisanie_4_bloka {margin-right: 25%;}
										   









                                                                    /*    блок 3 конец*/
																		                   /*    блок 4 начало*/
     .blok_6_heading,.blok_4_heading {
									 font-size: 1.6em;
									 padding: 10% 0px 0px 0px;}
									 hr {width: 13%;}	
	 .logo_4h_blokov{ height: 110px; margin-left: 20%;}								 
                                                                                            /*    блок 4 конец*/
                                                                                           /*    блок 5 начало*/	
      .blok_5_heading {
						 font-size: 1.6em;
						 padding: 10% 0px 0px 0px;}	
	   .blok_5_menu_1,.blok_5_menu_2,.blok_5_menu_3,.blok_5_menu_4 {font-size: 0.8em;}	
	    .subtitle {margin-top: 3%;     font-size: 0.8em;}											 
         .blok_5_img_1, .blok_5_img_2, .blok_5_img_4, .blok_5_img_3 { margin-top: 10%;}
    button.knopka_2 {
						margin-bottom: 10%;
						width: 20%;
						height: 40%;
					   font-size: 0.9em;}		
           .cnopca_po_center_2 {margin-top: 5%;}
	                                                                                     /*    блок 5 конец*/
                                                                                        /*    блок 6 начало*/
			.description_blok_6_1, .description_blok_6_2, .description_blok_6_3, .description_blok_6_4 {
																										  margin: 11px 0px 0px 250px;
																										  font-size: 0.8em;}
			 .blok_6_sections,.blok_6_section_2,.blok_6_section_3,.blok_6_section_4{
																					margin: 8% 0px 0px 0px;}
			  .blok_6_section_1 img, .blok_6_section_2 img, .blok_6_section_3 img, .blok_6_section_4 img {    margin: 0px 0px 0px 27%; height: 70px;}	
			   .blok_6_section_1 h3, .blok_6_section_2 h3, .blok_6_section_3 h3, .blok_6_section_4 h3 { 
			                                                                                           margin: 2% 0px 0px 42%; 
																									   font-size: 1em;}
                .blok_6_section_1 a, .blok_6_section_2 a, .blok_6_section_3 a, .blok_6_section_4 a { margin: 0px 0px 0px 42%; }
                 .blok_6_heading, .blok_4_heading {font-size: 1.1em; }     
																					 /*    блок 6 конец*/
                                                                                      /*    блок 7 начало*/	
			     .blok_7_heading { 
									 font-size: 1.6em;
									 padding: 10% 0px 0px 0px;}									  
                  hr {width: 10%;}																	  
                  .blok_7_opisanie {font-size: 1em;}                                                                          
			        .blok_7_input_3 input {width: 90%;}
	                  .blok_7_1_input {
										display: grid;
										grid-template-columns: 44% 44%;
										justify-content: center;}
                       .blok_7_input_1 input, .blok_7_input_2 input {
																		height: 40px;
																		width: 90%;}
						.blok_7_2_input {
											position: relative;
											margin: 1% 0px 0px 3%;}
                         .blok_7_input_2 input{  margin: 0% 0px 0px 6%;}
						  .blok_7_input_3 div {
												position: relative;
												top:30px;
												right:30%;}
						   .cnopca_po_center_3 { margin-top: 30px;}
				      button.knopka_3 {
										width: 23%;
										font-size: 0.7em;
										height: 40px;
										margin-bottom: 50px;}}
	                                                                                /*    блок 7 конец*/ 
   @media screen and (max-width:360px){
                                                                                   /*    блок 1 начало*/  
header{   
      height: 1050px;
	  width:100%;
	  min-height:300px;   
	  background:Linear-gradient(to top, #17c2a4 850px, #87509c 10px); }
 h2.zagolovoc_header{ margin-top:38px;} 
    .header_minu{
	            font-size:0.5em;
				width: 36.7%;
				display: inline-flex;
				justify-content: space-around;
				position: absolute;
				top: 63px;
				margin:1px 0px 0px 0px;}
     .header_minu_videlen{
						  padding:3px 9px 3px 9px;
						  background:#643a79; 
						  border-radius:2px;} 
	  .header_minu_nazvanie{   padding:3px 9px 3px 9px; } 
	   .header_opisanie{ 
						   font-size:0.7em; 
						   margin-top:30px;} 
  button.knopka{ 
				 width:17%; 
				 font-size:0.2em; 
				 color:#ffffff; 
				 height:20px;  
				 border-radius:3px;} 	
																				 /*    блок 1 конец*/
																				 /*    блок 2 начало*/
         .cratcoe_opisanie {
				            font-size:0.8em; }	
		  .img_vriad_zagolovok, .img_vriad_zagolovok_2, .img_vriad_zagolovok_3, .img_vriad_zagolovok_4 { font-size: 0.8em;} 
			.img_vriad_1,.img_vriad_2,.img_vriad_3,.img_vriad_4{	width:80px; height:60px }
										 .img_vriad_1{ margin:20px 0px 0px 20px;} 
										 .img_vriad_3{ margin:20px 0px 0px 50px;}
										  .img_vriad_2{ margin:20px 0px 0px 10px;}
										  .img_vriad_4{ margin:20px 0px 0px 30px;}
			   .img_vriad_razmer{height:30px; width:70px; } 
			    .img_vriad{margin-top:5px; }
			     .img_vriad_opisanie,.img_vriad_opisanie_2,.img_vriad_opisanie_3,.img_vriad_opisanie_4{ font-size:0.6em;}
			      .img_vriad_opisanie, .img_vriad_zagolovok{margin:10px 0px 0px 30px; }
				   .img_vriad_opisanie_2, .img_vriad_zagolovok_2{margin:10px 0px 0px 30px; }
				    .img_vriad_opisanie_3, .img_vriad_zagolovok_3{margin:10px 0px 0px 40px; }
				     .img_vriad_opisanie_4, .img_vriad_zagolovok_4{margin:10px 0px 0px 40px; }
	                  hr { width: 68px;}
																			   /*    блок 2 конец*/
																			   /*    блок 3 начало*/	
/* 1 */	
.bloc_1, .bloc_2, .bloc_3, .bloc_4 {
    margin-left:0%;
}
.zagolovoc {
			font-size: 1.06em;                  
			padding-top: 50px;}  
 .opisanie {
		   font-size: 0.8em;
		   margin-bottom: 0px;}	
  .aplicacii {
				display: grid;
				grid-template-columns: 200px;}			
   .aplicacii { margin-top: 0px;}		
    .zagolovki_blokov {
						margin: 30px 0px 12px 20px;
						font-size: 1.1em;}									  
     .links_1 {margin-left: 50px;
              font-size: 0.8em;}
      .opisanie_1_bloka {
						font-size: 0.8em;
						margin-left: 35px;
						width: 12em;}																	  
       .logo_4h_blokov	{ margin-top: 30px;      margin-left: 30%;   height: 100px;}
/* 2 */
		.zagolovok_bloka_2 {font-size: 1.1em;margin-left: 42px;}										
		 .links_2 {font-size: 0.8em;margin-left: 55px;}
		  .opisanie_2_bloka{font-size: 0.8em;margin-left: 25px;     width: 100%; }	
		   .links_soc_seti_1_4 {margin-left: 50px;}	
/* 3 */	
		    .zagolovok_bloka_3 {font-size: 1.1em;margin-left: 35px;}										
			 .links_3 {font-size: 0.8em;margin-left: 80px;}
			  .opisanie_3_bloka{font-size: 0.8em;margin-left: 45px; }	
			   .links_soc_seti{margin-left: 50px;}
			    .zagolovki_blokov {
									margin: 5% 0px 4% 27%;
									font-size: 0.8em;}
				 .zagolovok_bloka_2,.zagolovok_bloka_3{     margin-left: 25%;}
				

.blok_3 {
   
    min-height: 1600px;
    background: #e7f1f8;
}
/* 4 */	
				.links_4 {font-size: 0.8em;margin-left: 70px;}
				 .opisanie_4_bloka{font-size: 0.8em;margin-left: 45px;     width: 70%;}																			  
																								  /*    блок 3 конец*/ 
																						         /*    блок 4,5 начало*/	
				
                  .blok_5_heading,.blok_4_heading {
                                                  font-size: 1.06em;
												  padding: 10% 0px 0px 0px;}
	   
	               .blok_4_opisanie, .blok_5_opisanie { font-size: 0.8em;}
	                .blok_5_menu {
									display: grid;
									justify-content: center;
									grid-template-columns: 100px 100px;}
                    .blok_5_menu_1, .blok_5_menu_2,.blok_5_menu_3, .blok_5_menu_4 {
																					font-size: 0.8em;}
																					.subtitle {font-size: 0.8em;}
			   button.knopka_2 {font-size: 0.8em; margin-bottom: 10%;}	
                      .cnopca_po_center_2 { margin-top: 10%;}						
	                                                                                           /*    блок 4,5 конец*/ 
																		                      /*    блок 6 начало*/	
					   .blok_6_heading {font-size: 1.1em; padding: 12% 0px 0px 0px;}
                         .blok_6_opisanie {font-size: 0.8em;}																				
					      .description_blok_6_1, .description_blok_6_2,.description_blok_6_3, .description_blok_6_4{     margin: 2% 0px 0px 200px; font-size: 0.8em;}	
                            .blok_6_section_1 img, .blok_6_section_2 img, .blok_6_section_3 img, .blok_6_section_4 img {
                                                                                                                          margin: 0px 0px 0px 245px;   
																														  float: none;}
                              .blok_6_sections,.blok_6_section_3,.blok_6_section_4 {margin: 10% 0px 0px 0px;}		
                               .blok_6_section_2 {margin: 10% 70px 0px 0px;}
							    .blok_6_section_1 a,.blok_6_section_3 a,.blok_6_section_4 a{     margin: 0px 0px 0px 39%;}
								.blok_6_section_1 h3, .blok_6_section_3 h3, .blok_6_section_4 h3{font-size: 0.8em; margin: 0.5em 0px 0px 39%;  }
								.blok_6_section_2 h3{font-size: 0.8em;  margin: 0.5em 0px 0px 45%;}
								.blok_6_section_2 a{     margin: 0px 0px 0px 45%;}
								
																							/*   блок 6 конец*/ 
			                                                                              /*    блок 7 начало*/			  
								.blok_7_heading { 
												 padding: 50px 0px 0px 0px;
												 font-size: 1.3em;}
								 .blok_7_opisanie {font-size: 0.75em;}
								  .blok_7_2_input input{ 
														 width:88.5%; 
														 height:104px; 
														 margin:0px 0px 0px 0px;}
								   .blok_7_2_input{margin:0px 0px 0px 0.7em; }
									.blok_7_input_1 input,.blok_7_input_2 input{ 
																				 font-size: 0.8em; 
																				 width:90.5%;}
									 .blok_7_input_1 div,.blok_7_input_2 div{ font-size: 0.8em;}
									  .blok_7_1_input{ 
													  display: grid;  
													  grid-template-columns:44% 44%; 
													  justify-content:center;}
							    button.knopka_3 {
												width: 23.7%;
												font-size: 0.5em;
												color: #ffffff;
												height: 30px;
												background: #30bae7;
												border-color: #30bae7;
												border-radius: 5px;
												margin-bottom: 50px;}
									   .cnopca_po_center_3 {margin-top: 40px;}
										.blok_7_input_3 div {   
															 position: relative;
															 font-size: 0.8em;
															 right: 100px;} 
										 .ugoloc {
												  position: relative;
												  top: 45px;
												  right: 20px;}
                                                                                       /*   блок 7 конец */
										   .footer_links_v_row {padding: 0px 5px 0px 5px;}	
											.footer_links {font-size: 0.8em;}		
											  .footer_links {
															   display: grid;
															   grid-template-columns: 20% 20% 20% 20%;}
															   
															
															   
															   
															   
															   
															   
															   
															   
															   
															   
															   
															   
															   
															   
															   
															   
															   
															   
															   
															   
															   
															   
											   
															   
															   
															   
															   
															   
															   
															   
															   
															   
															   
															   
															   
															   
															   
															   
															   
															   
															   
															   
															   
															   
																											 } 						                                                                                      

 